@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap");

.newsCard {
    display: flex;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.newsText {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author {
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    color: #808290;
}

.lowerNewsText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 10px 0;
}

.readMore {
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
}

.source {
    text-decoration: none;
    color: black;
}

.newsImage {
    object-fit: cover;
    width: 320px;
    height: 268px;
    border-radius: 2px;
}

.title {
    font-size: 22px;
    line-height: 27px;
    font-family: "Roboto", serif;
}

.muted {
    font-weight: 100;
}

.description {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

@media (max-width: 800px) {
    .newsCard {
        flex-direction: column;
        width: 100%;
    }
    .newsImage {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }
}
